body{
    background-color: rgba(78, 34, 33, 0.555);
    margin: 0px;
}
header{
  background-color: rgba(41, 49, 51, 0.75);
  display: block;
  top: 0%;
  position: sticky;
}
.name_logo{
  text-align: center;
  color: blanchedalmond;
  font-size: 20px;
  }


.nav{
  display:table-row;
  float: none;
}
a {
  text-decoration: none;
} 
nav {
  font-family: monospace;
} 
ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
} 
li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}   
li a {
  color: #fff;
} 
li:hover {
  background: red;
  cursor: pointer;
}  
ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}  
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
  
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery > div {
  display: inline-block;
  width: 30%;
}

.Ve1, .Bb1, .Cl1, .St1, .Ps1 {
  width: 100%;
  transition: 1.0s;
}

.Ve1:hover, .Bb1:hover, .Cl1:hover, .St1:hover, .Ps1:hover {
  filter:grayscale(100%);
  transform: scale(1.1);
}

.Ve, .Bb, .Cl, .St, .Ps {
  display: none;
}






.contenitore{
  display: block;
  text-align: center;
}
.Social_ico{
  display: inline-block;
  width: 4%;
}
.pagina, .copyright{
  text-align: center;
} 
.copyright{
  margin-bottom: 0%;
} 